:root {
    --link-color: #3391ff;
    --shine-base: #f5e8a7bb;
    --shine-shade: #f5e8a76c;
    --shine-light: #fff;
    --line-height: 2.5rem;
    --font-size: 1.5rem;
    --dark-font-color: #fff;
    --cover-art-height: 15rem;
}

* {
    box-sizing: border-box;
}

html {
    background-color: #181a1b;
    background-image: url("./assets/endless-clouds.svg");
    background-size: 5%;
    background-repeat: repeat;
    height: 100%;
}

body {
    width: 100vw;
    height: 100%;
    font-size: var(--font-size);
    font-family: "Lato";
    line-height: var(--line-height);
    margin: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

main {
    /* width: max-content; */
    width: 1080px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    /* padding-left: 1rem; */
    margin: auto;
    background-color: #8d034325;
    background-blend-mode: color;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 5rem;
    color: white;
    position: relative;
    background: linear-gradient(180deg, #131516b0 10%, #17152d 44%, #17152d 80%, #21195a 90%, #8d034325 100%);
}

ul {
    list-style: none;
    width: max-content;
}

h1 {
    text-align: center;
    margin-top: 0;
    padding-top: 2rem;
}

img {
    width: 2rem;
    height: 1.5rem;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-color: #333 transparent transparent transparent;
    border-style: solid;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

#socials {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: content;
    flex-flow: row;
    justify-content: space-between;
    font-size: medium;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-align: start;
}

.lift:hover {
    display: inline-block;
    transform: translateY(-0.5rem);
    transition: transform 0.2s;
    color: yellow;
}

.content {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.tab-list {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    list-style: none;
    float: none;
    width: 100%;
}

.tab-list li label {
    position: relative;
    top: 0px;
    display: block;
    padding: 1rem;
}

.tab-list li input[type="radio"] {
    position: absolute;
    display: none;
}

.tab-list li:hover {
    color: var(--link-color);
    cursor: pointer;
    list-style: none;
}

.tab-list li {
    float: left;
    display: block;
    /* Height of tab */
    /* label height + label padding top + label padding bottom + content height */
    height: calc(15rem + 1rem + 1rem + 3rem);
}

.tab-content {
    z-index: 2;
    display: none;
    overflow: hidden;
    width: 100%;
    position: absolute;
    /* top: 53px; */
    left: 0;
}

#anime-input:checked~#anime-content,
#games-input:checked~#games-content,
#music-input:checked~#music-content,
#fitness-input:checked~#fitness-content {
    display: block;
}

.skeleton {
    height: 15rem;
    width: 100%;
    background-color: #222;
    background-image: linear-gradient(90deg, #222 0px, #333 40px, #222 80px);
    background-size: 100%;
    animation: shimmer 1s infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-play-state: running;

}

.wavy:hover {
    color: var(--link-color);
    /* font-weight: bolder; */
    font-size: 1.5rem;
    /* -webkit-text-stroke: 0.5px var(--link-color); */
    /* display: inline-block;
      position: relative;
      animation: wave 1s infinite; */
}

.shimmer-small {
    font-size: 1em;
}


.shimmer-small {
    text-align: center;
    color: transparent;
    text-shadow: 0px 0px 0px var(--shine-base);
    background: -webkit-gradient(linear,
            left top,
            right top,
            from(#f5e8a76c),
            to(#f5e8a76c),
            color-stop(0.6, #fff));
    background: -moz-gradient(linear,
            left top,
            right top,
            from(#f5e8a76c),
            to(#f5e8a76c),
            color-stop(0.6, #fff));
    background: gradient(linear,
            left top,
            right top,
            from(#f5e8a76c),
            to(#f5e8a76c),
            color-stop(0.6, #fff));
    background-size: 20px 150%;
    background-clip: text;
    animation-name: shimmer;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: #222;
}

@keyframes shimmer {
    0% {
        background-position: top left;
    }

    100% {
        background-position: top right;
    }
}

.icon {
    display: inline-block;
    mask-size: cover;
    font-size: larger;
    text-align: start;
    /* height: 100%; */
}

.inline-icon {
    /* position: absolute; */
    margin: 0;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.icon img {
    width: auto;
    height: 2rem;
    margin: 0.5rem;
    margin-top: 0;
    margin-bottom: 0;
    pointer-events: none;
}

.icon:hover img,
.icon:focus img {
    width: auto;
    height: 2rem;
    /* margin: 0.5rem; */
    pointer-events: none;
    fill: white;
    /* Turns icon white */
    filter: invert(99%) sepia(100%) saturate(6%) hue-rotate(127deg) brightness(101%) contrast(101%);
}

.app-list-link {
    color: white !important;
    text-decoration: none;
}

.app-list-link:hover {
    color: var(--link-color) !important;
    text-decoration: none;
}

.link,
.link:visited {
    text-decoration: none;
    color: var(--link-color);
}



.cover-art {
    width: auto;
    height: var(--cover-art-height);
    /* position: absolute; */
    margin-left: 0;
    margin-right: 0;
}

.about-list {
    /* position: relative; */
    /* overflow: hidden; */
    width: 100%;
}

.about-list li {
    inline-size: 100%;
    overflow-wrap: break-word;
}

/* .merry-go-round li img {
    draggable: false;
} */

.apps {
    /* Not ready yet */
    display: none;
}

li:hover .fall-off {
    display: inline-block;
    animation-name: falling-slower;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
    transform-origin: bottom left;
}

li:hover .fly {
    display: inline-block;
    animation-name: fly-away;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
    transform-origin: bottom left;
    animation-delay: 2s;
}

@keyframes fly-away {
    10% {
        transform: translateX(50px)
    }

    20% {
        transform: translateX(50px) rotate(-35deg);
    }

    40% {
        transform: translateX(50px) rotate(-35deg);
        opacity: 1;
    }

    100% {
        transform: translate(550px, -500px) rotate(-60deg);
        opacity: 0;
    }
}

@keyframes falling-slower {
    0% {
        transform: translate(0, 0) rotate(0) scale(1);

    }

    10% {
        transform: translate(0px, 0px) rotate(85deg) scale(1);
    }

    15% {
        transform: translate(0px, 0px) rotate(130deg) scale(1);
    }


    20% {
        transform: translate(0px, 0px) rotate(140deg) scale(1);
    }

    /* 30% {
        transform: translate(0px, 0px) rotate(-100deg) scale(1);
    } */

    30% {
        transform: translate(0px, 0px) rotate(100deg) scale(1);
    }


    100% {
        transform: translate(60px, 500px) rotate(0deg) scale(1);
        opacity: 0;
    }
}

@keyframes falling-slow {
    0% {
        transform: translate(0, 0) rotate(0) scale(1);
    }

    5% {
        transform: translate(5px, 10px) rotate(5deg) scale(1);
    }

    20% {
        transform: translate(20px, 60px) rotate(15deg) scale(0.95);
    }

    40% {
        transform: translate(30px, 150px) rotate(40deg) scale(0.9);
    }


    100% {
        transform: translate(60px, 350px) rotate(90deg) scale(0.9);
        opacity: 0;
    }
}

@keyframes falling-fast {
    0% {
        transform: translate(0, 0) rotate(0) scale(1);
    }

    5% {
        transform: translate(5px, 10px) rotate(15deg) scale(1);
    }

    20% {
        transform: translate(20px, 40px) rotate(60deg) scale(0.95);
    }

    40% {
        transform: translate(30px, 100px) rotate(120deg) scale(0.9);
    }


    100% {
        transform: translate(60px, 300px) rotate(270deg) scale(0.9);
        opacity: 0;
    }
}